<footer>
    <div class="social-media">
        
        <a href="https://www.linkedin.com/in/zameernagaral/"><i class="fa-brands fa-square-linkedin"></i></a>
        <a href="https://github.com/zameernagaral"><i class="fa-brands fa-square-github"></i></a>
    </div>
    <div class="copy">
        <p>&copy; Stay Easy 2025</p>
    </div>
    <div class="privacy">
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms of Service</a>
    </div>
</footer>