<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand pb-3" href="/"><i class="fa-solid fa-section"></i>Stay Easy</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/"><i class="fa-regular fa-house"></i> Home</a>
        <a class="nav-link" href="/listings"><span class="material-symbols-outlined">
quick_reference_all
</span><span class="align-top">All Listings</span></a>
        <a class="nav-link" href="/listings/new"><i class="fa-solid fa-plus"></i>Add New Listings</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser){ %>
        <a class="nav-link" href="/signup">Signup</a>
        <a class="nav-link" href="/login">
          <span class="align-top">Login</span></a>
          <% } %>
          <% if(currentUser){ %>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
