<% layout('layouts/boilerplate') %>
<body>
    <h1 class="mt-5">Create New Listing</h1>
    <br>
    <form action="/listings" method="post">
        <div class="row">

        <div>
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" id="title" class="form-control">
        </div>
        <div>
        <label for="description" class="form-label">Description</label>
        <input type="text" name="description" id="description" class="form-control">
        </div>
        <div>

        
        <label for="image" class="form-label">Image</label>
        <input type="text" name="image" id="image" class="form-control">
        </div>
        <div class="col-4">
        <label for="price" class="form-label">Price</label>
        <input type="number" name="price" id="price" class="form-control">
        </div>
        <div class="col-8">

        
        <label for="location" class="form-label">Location</label>
        <input type="text" name="location" id="location" class="form-control">
        </div>
        <div>
        <label for="country" class="form-label">Country</label>
        <input type="text" name="country" id="country" class="form-control">

        <br>
        </div>
        </div>
        <button type="submit" class="btn newBtn btn-secondary">Submit</button>
    </form><br>
    <a href="/"><button class="btn newBtn btn-secondary">Back</button></a>
</body>
